.container{
    text-align:center;
    padding:2px;
    margin-top:10%;
}
#date{
    height: 20px;
    width:250px;
    margin-top:3px;
}
button{
    padding:2px;
    height:40px;
    width:120px;
    text-align: center;
    margin-top:20px;
    color:white;
    border:none;
    background-color:#0578fe;
    border-radius:5px ;
    margin-bottom:10px;
}